<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nikita Blog</title>
        <link rel="stylesheet" href="nav.css">
        <link rel="stylesheet" href="blogs.css">
    </head>
    <body>
        <nav class="nav-flex">
            <ul class="ul">
                <li><a href="/">Home</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/create">Create Blog</a></li>
            </ul>
        </nav>
       
        <p id="mainTopic"><%= randomBlog.topic %> </p>
        <div id="mainText"><%- randomBlog.text %></div>
    </body>
</html>